#bttn {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(450%);
    
  }
  #title {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-500%);
    
  }
  #card {
   
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }