
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="create">
      <ion-icon name="newspaper-outline"></ion-icon>
      Create
    </ion-tab-button>
    <ion-tab-button tab="list">
      <ion-icon name="list-outline"></ion-icon>
      List
    </ion-tab-button>
    <ion-tab-button tab="trash">
      <ion-icon name="trash-outline"></ion-icon>
      Trash
    </ion-tab-button>
    <ion-tab-button tab="vlogs">
      <ion-icon name="videocam-outline"></ion-icon>
      Vlogs
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

