<ion-checkbox id="chck">DAY 1</ion-checkbox>
<ion-checkbox id="chck1">DAY 2</ion-checkbox>
<ion-checkbox id="chck2">DAY 3</ion-checkbox>
<ion-checkbox id="chck3">DAY 4</ion-checkbox>
<ion-checkbox id="chck4">DAY 5</ion-checkbox>
<ion-checkbox id="chck5">DAY 6</ion-checkbox>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Trash</ion-title>
    </ion-toolbar>
  </ion-header> 
</div>
<div id="bttn">
  <ion-footer>
  <ion-button routerLink="/home" fill="clear">Close</ion-button>
  <ion-button>Recover</ion-button>
</ion-footer>
</div>
